<div class="container">
    <div class="vehicle-card-container">
        <h1>Your Vehicles</h1>
        <button mat-stroked-button class="vehicle-button" (click)="addVehicle()">Add a new vehicle</button>
    </div>
    <div class="vehicle-card-container" *ngIf="vehicles.length < 1">
        <h3>Emptyness... Use the button above to add a vehicle</h3>
    </div>
    <div *ngFor="let vehicle of vehicles" class="vehicle-card-container">
        <mat-card class="vehicle-card" (click)="openFillups(vehicle.id)">
            <mat-card-content>
                <div class="vehicle-image">
                    <img src="assets/icon/vehicle-icon.svg">
                </div>
                <div class="vehicle-data">
                    <p id="big-label">{{getName(vehicle)}}</p>
                    <p id="other-label">{{getSpecs(vehicle)}}</p>
                    <p id="small-label">{{vehicle.vehicleType}}</p>
                </div>
                <div class="vehicle-consumption-card" *ngIf="vehicle.statistics?.fuelConsumption != 0">
                    <p id="big-label">⌀ {{ vehicle.statistics?.fuelConsumption }} {{getFuelUnit(vehicle)}}/100km</p>
                    <p id="other-label">Distance travelled: {{ vehicle.statistics?.distance }}km</p>
                    <p id="other-label" class="no-mobile">CO2 Produced: {{ vehicle.statistics?.co }}kg</p>
                    <p id="other-label" class="no-mobile">Total cost: {{ vehicle.statistics?.totalCost }}€</p>
                    <p id="other-label">Fuel used: {{ vehicle.statistics?.fuelConsumed }}{{getFuelUnit(vehicle)}}</p>
                </div>
                <div class="vehicle-consumption-card" *ngIf="vehicle.statistics?.fuelConsumption == 0">
                    <p id="big-label">⌀ --.-- {{getFuelUnit(vehicle)}}/100km</p>
                    <p id="other-label">Not enough fillups yet!</p>

                </div>
            </mat-card-content>
            <!--<mat-card-actions>
                <button mat-button (click)="openFillups(vehicle.id)">FILLUPS</button>
                <button mat-button>EDIT</button>
                <button mat-button>DELETE</button>
            </mat-card-actions>-->
        </mat-card>
    </div>
</div>