<div class="container">
    <div class="register-title">
        <h2 *ngIf="!isSuccessful">Register to become an user!</h2>
    </div>
    <form *ngIf="!isSuccessful" class="register-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <mat-form-field class="register-full-width">
            <mat-label>Username</mat-label>
            <input matInput matInput type="text" name="username" [(ngModel)]="form.username" required #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }" />
            <mat-error *ngIf="username.errors && username.errors['required']">Username is <strong>required</strong></mat-error>
            <mat-error *ngIf="username.errors && username.errors['minlength']">
                Username must be at least 3 characters
            </mat-error>
            <mat-error *ngIf="username.errors && username.errors['maxlength'] ">
                Username must be at most 20 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field class="register-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" [(ngModel)]="form.email" required email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
            <mat-error *ngIf="email.errors && email.errors['required']">Email is <strong>required</strong></mat-error>
            <mat-error *ngIf="email.errors && email.errors['email']">
                Email must be a valid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field class="register-full-width ">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="form.password" required minlength="6 " #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
            <mat-error *ngIf="password.errors && password.errors['required']">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="password.errors && password.errors['minlength']">
                Password must be at least <strong>6 characters</strong>
            </mat-error>
        </mat-form-field>

        <mat-error class="register-form-error" *ngIf="f.submitted && isSignUpFailed" role="alert">Signup failed!<br>{{ errorMessage }}<br>
        </mat-error>
        <button mat-stroked-button>Sign-up!</button>

    </form>
    <div *ngIf="isSuccessful">
        <h2>Your registration is successful!</h2>
        <p>Log In to use the application</p>
        <button mat-stroked-button (click)="goLogIn()">Login</button>
    </div>
</div>