.add-filling-form {
    min-width: 150px;
    width: 100%;
}

.add-filling-title {
    margin-top: 20px;
}

.add-filling-full-width {
    width: 100%;
}

.add-filling-title {
    margin-top: 20px;
}

.add-filling-form-error {
    margin-bottom: 12px;
}

.submit-button {
    margin-top: 10px;
    width: 100%;
}

.add-filling-two-third-width {
    width: calc((100% / 3) * 2);
}

.add-filling-third-width {
    width: calc(100% / 3);
    padding-left: 10px;
}

mat-button-toggle {
    width: 100%;
}

.two-buttons mat-button-toggle {
    width: calc(100% / 2);
}

.three-buttons mat-button-toggle {
    width: calc(100% / 2);
}

.buttons {
    padding-bottom: 20px;
    width: 100%;
}

.three-buttons {
    padding-bottom: 20px;
    width: 100%;
}

.add-filling-full-width mat-slider {
    width: 100%;
}