.add-filling-form {
    min-width: 150px;
    width: 100%;
}

.add-filling-title {
    margin-top: 20px;
}

.add-filling-full-width {
    width: 100%;
}

.add-filling-title {
    margin-top: 20px;
}

.add-filling-form-error {
    margin-bottom: 12px;
}

.submit-button {
    margin-top: 10px;
    width: 100%;
}

.datepicker-max {
    width: 100%;
}