<div class="container">
    <div class="login-title">
        <h2 *ngIf="!isLoggedIn">Log in using your username and password!</h2>
        <h2 *ngIf="isLoggedIn">You are already logged in!</h2>
    </div>
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <mat-form-field class="login-full-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" name="username" [(ngModel)]="form.username" required #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }" />
            <mat-error *ngIf="username.errors">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="login-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
            <mat-error *ngIf="password.errors && password.errors['required']">
                Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="password.errors && password.errors['minlength']">
                Password must be at least <strong>6 characters</strong>
            </mat-error>
        </mat-form-field>
        <mat-error class="login-form-error" *ngIf="f.submitted && isLoginFailed" role="alert"> Login failed: {{ errorMessage }}<br>
        </mat-error>
        <button mat-stroked-button type="submit">Login</button>
    </form>
</div>