.section-title {
    padding-top: 25px;
}

.statistic-card {
    width: 100%;
}

app-filling-graph {
    width: 100vw;
    height: fit-content;
}

mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-card {
    padding: 0px 0px 10px 0px;
}

.fillup-button {
    width: 100%;
}

.greenClass {
    color: green;
}

.redClass {
    color: red;
}

.drivingStyle {
    font-size: 12pt;
    font-weight: bold;
}

.normalClass {
    color: rgba(255, 255, 255, 0.7);
}

mat-card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.fillup-data {
    width: 25%;
}

#first {
    text-align: left;
}

#second,
#third {
    text-align: center;
}

#fourth {
    text-align: right;
}

#big-data {
    font-size: 18pt;
    font-weight: bold;
}

#small-data {
    font-size: 14pt;
}

#consumption-data {
    font-size: 28pt;
    font-weight: bold;
}

#fuel-label {
    color: #607d8b;
    font-size: 18pt;
    font-weight: bold;
}

#data-label {
    font-size: 14pt;
    color: rgba(255, 255, 255, 0.7);
}

.no-margin {
    margin: 0;
}

@media only screen and (max-width: 767px) {
    #big-data {
        font-size: 12pt;
        font-weight: bold;
    }
    #consumption-data {
        font-size: 20pt;
        font-weight: bold;
    }
    #small-data,
    #data-label {
        font-size: 11pt;
    }
    #fuel-label {
        color: #607d8b;
        font-size: 12pt;
        font-weight: bold;
    }
}