<div class="container">
    <div class="add-vehicle-title">
        <h2>Add a new vehicle</h2>
        <p><b>{{ errorMsg }}</b></p>
    </div>
    <form class="add-vehicle-form" [formGroup]="vehicle" (ngSubmit)="vehicle.valid && onSubmit()">
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Fuel type</mat-label>
            <mat-select name="fuel" formControlName="vehicleType" required>
                <mat-option value="PETROL">Petrol</mat-option>
                <mat-option value="DIESEL">Diesel</mat-option>
                <mat-option value="ELECTRIC">Electric</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Year</mat-label>
            <input matInput type="number" required name="year" formControlName="year" [max]="maxYear" [min]="1800" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Make</mat-label>
            <input matInput type="text" required name="make" formControlName="make" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Model</mat-label>
            <input matInput type="text" required formControlName="model" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Trim</mat-label>
            <input matInput type="text" required formControlName="trim" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Engine</mat-label>
            <input matInput type="text" required formControlName="engine" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Power (HP)</mat-label>
            <input matInput type="number" required formControlName="power" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Transmission</mat-label>
            <mat-select formControlName="transmission" required>
                <mat-option value="AUTOMATIC">Automatic</mat-option>
                <mat-option value="MANUAL">Manual</mat-option>
                <mat-option value="SEMI_AUTOMATIC">Semi-Automatic</mat-option>
                <mat-option value="DIRECT">Direct (single speed)</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Drivetrain</mat-label>
            <mat-select formControlName="drivetrain" required>
                <mat-option value="AWD">AWD</mat-option>
                <mat-option value="RWD">RWD</mat-option>
                <mat-option value="FWD">FWD</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <mat-label>Make car public?</mat-label>
            <mat-checkbox value="checked" formControlName="isPublic"></mat-checkbox>
        </div>
        <button mat-stroked-button class="submit-button">Submit!</button>
    </form>
</div>