<div class="container">
    <div class="add-vehicle-title">
        <h2>Add a new vehicle</h2>
    </div>
    <form class="add-vehicle-form" [formGroup]="vehicle" (ngSubmit)="onSubmit()">
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Fuel type</mat-label>
            <mat-select name="fuel" formControlName="fuel" required>
                <mat-option value="petrol">Petrol</mat-option>
                <mat-option value="diesel">Diesel</mat-option>
                <mat-option value="electric">Electric</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Make</mat-label>
            <input matInput type="text" required name="make" formControlName="make" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Model</mat-label>
            <input matInput type="text" required formControlName="model" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Trim</mat-label>
            <input matInput type="text" required formControlName="trim" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Engine</mat-label>
            <input matInput type="text" required formControlName="engine" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Power (HP)</mat-label>
            <input matInput type="number" required formControlName="power" />
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Transmission</mat-label>
            <mat-select formControlName="transmission" required>
                <mat-option value="automatic">Automatic</mat-option>
                <mat-option value="manual">Manual</mat-option>
                <mat-option value="semi-automatic">Semi-Automatic</mat-option>
                <mat-option value="direct">Direct (single speed)</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="add-vehicle-full-width">
            <mat-label>Drivetrain</mat-label>
            <mat-select formControlName="drivetrain" required>
                <mat-option value="awd">AWD</mat-option>
                <mat-option value="rwd">RWD</mat-option>
                <mat-option value="fwd">FWD</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <mat-label>Make car public?</mat-label>
            <mat-checkbox value="checked" formControlName="public"></mat-checkbox>
        </div>
        <button mat-stroked-button class="submit-button">Submit!</button>
    </form>
</div>